body {
    background-color: #1E1E10;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header elements */
header {
    display: flex;
    justify-content: space-between;
    background-color: #31345F;
}

.credit {
    color: salmon;}

.table_of_contents {
    background-color: #000080;
    padding-right:24px;
}

/* Main */
.main_title {
    justify-content: center;
    margin-bottom: 10vh;}



.hero_text {
    width:65%;
    padding-right: 50px;}

.hero_title {
    color: #F7A5FF;
    border-bottom:#ffffff15 solid;}

.hero_section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
    border-bottom: #ffffff15 solid;}

.hero_list {
    width: 30%;
    background-color: #31345F;
}


.projects {
    text-align: center;
    background-color: #101e1e;
}

.projects_title {
    margin-top: 20vh;
    color: #FFE766;}

.projects_intro {
    padding-bottom: 10vh;
}

.project_cards_section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10vh;
    border-bottom: #ffffff15 solid;
}

.projects_card {
    width: 300px;
    border: 1px #ffffff15 solid;
    border-radius: 5px;
    background-color: #20223f;
    text-align: center;
}

.projects_text {
    padding: 5px;
}


/* Hero Card */

.card_container {
    width: 400px;
    height: 480px;
    background-color: #B185C4;
    color: #000000;
    border: #E8DC53 groove;
    border-radius: 10px;
}

.card_header {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;}

.card_img {
    width: 113px;
    padding: 5px;}

.card_resources {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;}

.card_hp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8383;
    width: 160px;
    height: 40px;
    border: #E8DC53 inset;}

.card_mp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83BDFF;
    width: 160px;
    height: 40px;
    border: silver inset;}

.card_stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    height: 60px;
    margin-top: 50px;}

.card_atk_def {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CACACA;
    height: 60px;
    width: 140px;
    border: gray ridge;}

.card_description {
    width: 310px;
    height: 110px;
    background-color: #FFF693;
    justify-self: center;
    margin-top: 40px;
    border: wheat solid;}





/* Footer */
footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3b3b3b;
    margin: 0;
}

.gitlink {
    color: #ffffff;
}